body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  background-color: #d69b9b;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-top: 20px;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #ee3ad6;
  color: #f5c6c6;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}
